body {
    background-color: #F5F5F5;
    font-family: 'Helvetica', sans-serif;
}

a {
    color: rgb(100, 100, 100);
}

.main {
    width: 650px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.title:after {
    clear: both;
}

.options {
    margin-top: 30px;
    background-color: white;
    border-radius: 3px;
    min-height: 300px;
    padding: 10px 40px 15px 40px;
    border-radius: 10px;
}

.options_header {
    font-size: 22px;
    color: rgb(50, 50, 50);
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.option {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(150, 150, 150);
}

.option:last-of-type {
    border-bottom: 0px;
}

.option_title {
    font-size: 16px;
    color: rgb(20, 20, 20);
    font-weight: bold;
    float: left;
    width: 280px;
}

.option_content {
    float: left;
    width: 270px;
    color: rgb(100, 100, 100);
}

.option_content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.option_content ul li {
    margin-bottom: 15px;
    font-size: 16px;
}

.option_content ul li:last-of-type {
    margin-bottom: 0px;
}

.option_content ul li span {
    position: relative;
    top: 2px;
    padding-left: 5px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: rgb(50, 50, 50);
    margin-top: 30px;
}

.container {
    margin: 50px auto;
    text-align: center;
}

input {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 13px 14px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
    width: 50%;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.footer {
    text-align: center;
    padding: 10px;
}

.link {
    margin: 10px 0;
}

